<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="showCreateUserDialog()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
      <button pButton pRipple label="Reset Filters" icon="pi pi-undo" class="p-button-info mr-2" (click)="resetSearchParameters()"></button>
    </ng-template>
  </p-toolbar>

  <p-table [value]="users" [rows]="10" [paginator]="true" [responsive]="true" [selectionMode]="'multiple'"
           [(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th pSortableColumn="id" style="width: 15%;">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="login">Login <p-sortIcon field="login"></p-sortIcon></th>
        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="birthDate" style="width: 15%;">Birth Date <p-sortIcon field="birthDate"></p-sortIcon></th>
        <th style="width: 10%;"></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><p-dropdown [options]="emailProviders" [(ngModel)]="searchByEmailProvider.value" (onChange)="search()" placeholder="All email providers" class="p-column-filter"></p-dropdown></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th><input pInputText type="text" [(ngModel)]="searchById" (ngModelChange)="search()" placeholder="Search by ID" class="p-column-filter"></th>
        <th><input pInputText type="text" [(ngModel)]="searchByName"  (ngModelChange)="search()" placeholder="Search by Name" class="p-column-filter"></th>
        <th><input pInputText type="text" [(ngModel)]="searchByLogin" (ngModelChange)="search()" placeholder="Search by Login" class="p-column-filter"></th>
        <th><input pInputText type="text" [(ngModel)]="searchByEmail" (ngModelChange)="search()" placeholder="Search by Email" class="p-column-filter"></th>
        <th><p-dropdown [options]="months" [(ngModel)]="searchByBirthMonth.value" (onChange)="search()" placeholder="Select a month" class="p-column-filter"></p-dropdown></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthDate | date: 'dd/MM/yyyy'}}</td>
        <td class="text-right">
          <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-3" (click)="showEditUserDialog(user)"></button>
          <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-warning mr-3" (click)="deleteUser(user)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="d-flex ai-center jc-between">
        In total there {{(users? users.length : 0) != 1? "are " +((users? users.length : 0) + " users ") : "is 1 user "}}that fit the search parameters.
      </div>
    </ng-template>
  </p-table>
</div>
<form [formGroup]="userForm">
  <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="{{ isCreationForm ? 'Create User' : 'Edit User' }}" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">
      <div class="field" [ngClass]="{'valid': isFieldValid('name'), 'invalid': !isFieldValid('name')}">
        <label for="name">Name</label>
        <input pInputText class="p-inputtext-sm input-filled" id="name" type="text" formControlName="name" [ngModel]="isCreationForm ? userToBeCreated.name : userToBeEdited.name" (ngModelChange)="isCreationForm ? (userToBeCreated.name = $event) : (userToBeEdited.name = $event)" required>
      </div>
      <div class="field" [ngClass]="{'valid': isFieldValid('login'), 'invalid': !isFieldValid('login')}">
        <label for="login">Login</label>
        <input pInputText class="p-inputtext-sm" id="login" type="text" formControlName="login" [ngModel]="isCreationForm ? userToBeCreated.login : userToBeEdited.login" (ngModelChange)="isCreationForm ? (userToBeCreated.login = $event) : (userToBeEdited.login = $event)" required>
      </div>
      <div class="field" [ngClass]="{'valid': isFieldValid('email'), 'invalid': !isFieldValid('email')}">
        <label for="email">Email</label>
        <input pInputText class="p-inputtext-sm" id="email" type="text" formControlName="email" [ngModel]="isCreationForm ? userToBeCreated.email : userToBeEdited.email" (ngModelChange)="isCreationForm ? (userToBeCreated.email = $event) : (userToBeEdited.email = $event)" required>
      </div>
      <div class="field">
        <label for="birthDate">Birth Date</label>
        <p-calendar id="birthDate" [ngModel]="isCreationForm ? userToBeCreated.birthDate : userToBeEdited.birthDate" (ngModelChange)="isCreationForm ? (userToBeCreated.birthDate = $event) : (userToBeEdited.birthDate = $event)" dateFormat="yy-mm-dd" [showIcon]="true" required appendTo="body"></p-calendar>
      </div>
      <div class="field" [ngClass]="{'valid': isFieldValid('name'), 'password': !isFieldValid('password')}">
        <label for="password">{{ isCreationForm ? 'Password' : 'New Password' }}</label>
        <input pInputText class="p-inputtext-sm" id="password" type="password" formControlName="password" [ngModel]="isCreationForm ? userToBeCreated.password : userToBeEdited.password" (ngModelChange)="isCreationForm ? (userToBeCreated.password = $event) : (userToBeEdited.password = $event)" required>
      </div>
      <div class="field" [ngClass]="{'valid': isFieldValid('name'), 'password': !isFieldValid('password')}">
        <label for="passwordConfirm">{{ isCreationForm ? 'Confirm Password' : 'Confirm New Password' }}</label>
        <input pInputText class="p-inputtext-sm" id="passwordConfirm" type="password" formControlName="password" [ngModel]="isCreationForm ? userToBeCreated.password : userToBeEdited.password" (ngModelChange)="isCreationForm ? (userToBeCreated.password = $event) : (userToBeEdited.password = $event)" required>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="{{ isCreationForm ? 'Create' : 'Save changes' }}" icon="pi pi-check" class="p-button-text" (click)="isCreationForm ? createUser() : updateUser()"></button>
    </ng-template>
  </p-dialog>
</form>
